<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763150906246-jhrqn6r1ekpo27e8tq2ec1qe78421e5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763150906246-jhrqn6r1ekpo27e8tq2ec1qe78421e5h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>763150906246-2qg98u46ktp09bvasbadlk948tfa2ucc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBshCTVrWn-qjKKDFbusP24PCRAav7TFGA</string>
	<key>GCM_SENDER_ID</key>
	<string>763150906246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timo.timoTest</string>
	<key>PROJECT_ID</key>
	<string>fluted-oasis-378820</string>
	<key>STORAGE_BUCKET</key>
	<string>fluted-oasis-378820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:763150906246:ios:ef69a2555e52aa850cb207</string>
</dict>
</plist>
